[push]
	default = simple
[user]
	name = nicolas-martin
	email = nicolas.martin.0986@gmail.com
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[difftool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[rebase]
	autostash = true
